* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252525;
    margin: 1rem 0 0 2rem;
}

h1 {
    color: burlywood;
}

p {
    color: aliceblue;
}